<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name=”format-detection” content=”telephone=no” />
    <link type="text/css" href="/css/stylesheet.css" rel="stylesheet">
	<title>电影指南home页</title> 
</head>

<body>
<div class="container flex-container flex-column">
	<div class="loading" id="loading"></div>
	<div class="flex-normal hasScroll">
	<div class="swiper_box">
		<div class="swiper-container"><!--swiper容器[可以随意更改该容器的样式-->  
		    <div class="swiper-wrapper" id="slide_ul">
		        <!-- <div class="swiper-slide"><a class="pic" href="javascript://"><img src="%s" url="%t" class="pic" /></a></div> -->
		    </div>  
		    <div class="swiper-pagination pagination"></div><!--分页器-->
		</div>
	</div>
	
	<div id="loadingComent"></div>

	<!-- <div class="home_comment_block flex-container">
		<img class="home_comment_img" src="../images/poster_criminal.png" alt="">
		<div class="home_comment">
			<div class="home_comment_author font-normal">
				<em>2012-07-08</em>
				<a href="other_means.html"><span style="background-image:url(../../carouse/head.png);">Cecly</span></a>
			</div>
			<div class="home_comment_title">我听说过爱这种东西，但是从来没有感受过它。</div>
			<div class="flex-container home_comment_meta font-normal">
				<div class="flex-normal">阅读<span>3023</span></div>
				<div class="flex-normal">评论<span>128</span></div>
				<div class="flex-normal">喜欢<span>1987</span></div>
			</div>
		</div>
	</div> -->

	<!-- <div class="home_comment_block flex-container home_comment_right">
		<img class="home_comment_img" src="../images/poster_theRevenant.png" alt="">
		<div class="home_comment">
			<div class="home_comment_author font-normal"><em id="createdAt">2012-07-08</em><a href="other_means.html"><span id="nickname">Cecly</span></a></div>
			<div class="home_comment_title">在上帝给的定点光下，轮番上演的真实。</div>
			<div class="flex-container home_comment_meta font-normal">
				<div class="flex-normal">阅读<span id="reading">3023</span></div>
				<div class="flex-normal">评论<span id="Rank">128</span></div>
				<div class="flex-normal">喜欢<span id="star">1987</span></div>
			</div>
		</div>
	</div> -->
	</div>
	<div id="footer"></div>
</div>
	<script src="../js/jquery-3.1.0.min.js" type="text/javascript"></script>
	<script src="../js/dingeTools.js" type="text/javascript"></script>
	<script src="../js/swiper.jquery.min.js" type="text/javascript"></script>
	<script src="../js/home.js" type="text/javascript"></script>
</body>
</html>
