<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />
	<title>电影指南home页</title>
</head>
<link type="text/css" href="../stylesheets/style.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/TouchSlide.1.1.js"></script>
<body>
	
	<!-- 焦点图 -->
	<div id="slideBox" class="slideBox">

		<div class="bd">
			<ul>
					<li>
						<a class="pic" href="#"><img src="../images/banner_1.png" /></a>
					</li>
					<li>
						<a class="pic" href="#"><img src="../images/banner_2.png"/></a>
					</li>
					<li>
						<a class="pic" href="#"><img src="../images/banner_3.png"/></a>
					</li>
					<li>
						<a class="pic" href="#"><img src="../images/banner_4.png"/></a>
					</li>
                    <li>
						<a class="pic" href="#"><img src="../images/banner_5.png"/></a>
					</li>
			</ul>
		</div>

		<div class="hd">
			<ul></ul>
		</div>
	</div>
	
	<ul class="home_block1 home_block">
		<li class="home_img"><img src="../images/poster_criminal.png" alt=""></li>
		<li class="home_details">
			<div class="details1"><em>昨天</em><span>Cecly</span></div>
			<div class="details2">我听说过爱这种东西，但是从来没有感受过它。</div>
			<ul class="home_num">
				<li>阅读<span>3023</span></li>
				<li>评论<span>128</span></li>
				<li>喜欢<span>1987</span></li>
			</ul>
		</li>
	</ul>

	<ul class="home_block2">
		<li class="home_details">
			<div class="details1"><span>子叶</span><em>两天前</em></div>
			<div class="details2">在上帝给的定点光下，轮番上演的真实。</div>
			<ul class="home_num">
				<li>阅读<span>3023</span></li>
				<li>评论<span>128</span></li>
				<li>喜欢<span>1987</span></li>
			</ul>
		</li>
		<li class="home_img"><img src="../images/poster_theRevenant.png" alt=""></li>
	</ul>
	
	<footer>
		<ul class="footer">
			<li><a href="javascript:;" class="on sy_bg1">首页</a></li>
			<li><a href="javascript:;" class="fx_bg">发现</a></li>
			<li><a href="javascript:;" class="xx_bg">消息</a></li>
			<li><a href="javascript:;" class="wd_bg">我的</a></li>
		</ul>
	</footer>
	<script type="text/javascript">
		TouchSlide({ 
			slideCell:"#slideBox",
			titCell:".hd ul", //开启自动分页 autoPage:true ，此时设置 titCell 为导航元素包裹层
			mainCell:".bd ul", 
			effect:"leftLoop", 
			autoPage:true,//自动分页
			autoPlay:true //自动播放
		});
	</script>
	<script src="../js/index.js" type="text/javascript"></script>
</body>
</html>
