<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />
	<title>电影指南home页</title>
</head>

<body>
	
	<!-- 焦点图 -->
	<div id="slideBox" class="slideBox">

		<div class="bd">
			<ul id="slide_ul">
				<!-- <li><a class="pic" href="javascript://"><img src="%s" url="%t" class="pic" /></a></li> -->					  
			</ul>
		</div>

		<div class="hd">
			<ul></ul>
		</div>
	</div>
	
	<ul class="home_block1 home_block">
		<li class="home_img"><img id="home_img" src="../images/poster_criminal.png" alt=""></li>
		<li class="home_details">
			<div class="details1"><em id="createdAt" aa></em><span id="nickname">Cecly</span></div>
			<div class="details2" id="Title">我听说过爱这种东西，但是从来没有感受过它。</div>
			<ul class="home_num">
				<li>阅读<span id="reading">3023</span></li>
				<li>评论<span id="Rank">128</span></li>
				<li>喜欢<span id="star">1987</span></li>
			</ul>
		</li>
	</ul>

	<ul class="home_block2">
		<li class="home_details">
			<div class="details1"><span id="nickname">子叶</span><em id="createdAt">两天前</em></div>
			<div class="details2">在上帝给的定点光下，轮番上演的真实。</div>
			<ul class="home_num">
				<li>阅读<span>3023</span></li>
				<li>评论<span>128</span></li>
				<li>喜欢<span>1987</span></li>
			</ul>
		</li>
		<li class="home_img"><img src="../images/poster_theRevenant.png" alt=""></li>
	</ul>
	
	<footer>
		<ul class="footer">
			<li><a href="javascript:;" class="on sy_bg1">首页</a></li>
			<li><a href="javascript:;" class="fx_bg">发现</a></li>
			<li><a href="javascript:;" class="xx_bg">消息</a></li>
			<li><a href="javascript:;" class="wd_bg">我的</a></li>
		</ul>
	</footer>
	<link type="text/css" href="../stylesheets/style.css" rel="stylesheet">
	<script src="../js/jquery-3.1.0.min.js"></script>
	<script src="../js/TouchSlide.1.1.js"></script>
	<script src="../js/index.js" type="text/javascript"></script>
</body>
</html>
