<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>电影指南-消息中心页-评论</title>
    <meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

</head>
<body>
	<div class="mes_title">评论</div>	
	<ul class="comment">
		<li class="head_img">
			<img src="../images/share_weibo.png" alt="">
			<em>zeroloodjlfjgjg</em>
		</li>
		<li class="comment_ri">
			<p>总有一些事情值得我们去坚持总有一些事情值得我们去坚持</p>
			<h4>——「<span>荒野中，你为什么活了下来</span>」</h4>
		</li>
	</ul>

	<div id="footer"></div>
	<link type="text/css" href="../stylesheets/style.css" rel="stylesheet">
	<script src="../js/jquery-3.1.0.min.js"></script>
	<script src="../js/messages_comment.js" type="text/javascript"></script>
</body>
</html>