<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>电影指南-消息中心页-粉丝</title>
    <meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />

</head>
<body>
	<div class="mes_title">粉丝</div>	
	<div class="fans"><span>大灰狼</span>成为了你的粉丝</div>

	<div id="footer"></div>
	<link type="text/css" href="../stylesheets/style.css" rel="stylesheet">
	<script src="../js/jquery-3.1.0.min.js"></script>
	<script src="../js/messages_fans.js" type="text/javascript"></script>
</body>
</html>