<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>电影详情页</title>
    <meta name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link type="text/css" href="/css/stylesheet.less" rel="stylesheet/less">
</head>
<body>
	
	<script src="../js/jquery-3.1.0.min.js"></script>
	<script src="/js/dingeTools.js" type="text/javascript"></script>
	<script src="../js/search.js" type="text/javascript"></script>
	<script src="../js/less.min.js" type="text/javascript"></script>
</body>
</html>