<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<title>电影指南-我的</title>
    <meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />
</head>
<body>
	<div class="mes_title">我的</div>
	<div class="mes_pl user_n">
		<span class="pl_span user_name">南陌</span>
		<p class="notice">麦兜他不是低能，他只是善良</p>
	</div>
	<div class="user_line">
		<div class="user_l"><a href="javascript:;"><span>我的影评</span></a></div>
		<div class="user_l user_like"><a href="myfocus.html"><span>我关注的</span></a></div>
		<div class="user_l user_sc"><a href="javascript:;"><span>我收藏的</span></a></div>
		<div class="user_l user_history"><a href="javascript:;"><span>浏览历史</span></a></div>
		<div class="user_l user_draft"><a href="javascript:;"><span>草稿箱</span></a></div>
		<div class="user_l user_night"><a href="javascript:;"><span>夜间模式</span></a></div>
	</div>
	<div id="footer"></div>
	<link type="text/css" href="../stylesheets/style.css" rel="stylesheet">
	<script src="../js/jquery-3.1.0.min.js"></script>
	<script src="../js/index.js" type="text/javascript"></script>
</body>
</html>