<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta name="viewport" content="width=640,target-densitydpi=device-dpi,user-scalable=no" />
	<title>电影指南home页</title>
</head>
<link type="text/css" href="../stylesheets/style.css" rel="stylesheet">
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<body style="margin:0 28px;">
	<ul class="write_back">
		<li class="w_back"><a href="javascript:;"><img src="../images/back.png" alt=""></a></li>
		<li class="w_done"><img src="../images/done.png" alt=""></li>
	</ul>
	<div class="w_movie"><span class="w_text">蝙蝠侠大战超人：正义之战</span></div>
	<div class="w_star">
		<span><img src="../images/write_stars.png" alt=""></span>
		<span><img src="../images/write_stars.png" alt=""></span>
		<span><img src="../images/write_stars.png" alt=""></span>
		<span><img src="../images/write_stars.png" alt=""></span>
		<span><img src="../images/write_stars.png" alt=""></span>
	</div>
	<div class="w_title">
		<span><img src="../images/write-title.png" alt=""></span>
		<form action="" method="">
		  <input type="search" name="" value="输入标题" />
		</form>
	</div>
	<textarea rows="3" cols="20" class="w_txtarea">撰写影评</textarea>

</body>
</html>
