doctype html
html
    head
        title=title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(href="/css/stylesheet.css" rel="stylesheet")
    body
        h1(id="set") 设置地理定位
        .setLocation
        h1(id="get") 获取地理定位
        .getLocation
        script(src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js")
        script(src="http://cdn.bootcss.com/jquery.qrcode/1.0/jquery.qrcode.min.js")
        script(src="/js/code.js")