doctype html
html
    head
        title=title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,target-densitydpi=device-dpi,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(href="/css/stylesheet.css" rel="stylesheet")
    body
        #allmap
        script(src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js")
        script(src="http://api.map.baidu.com/api?v=2.0&ak=cgOXQHGFBCD9S888TLu6flFP")
        script(src="http://developer.baidu.com/map/jsdemo/demo/convertor.js")
        script(src="/js/location.js")