.swiper_box .swiper-container{height:2.3rem;top:0;}
.swiper-wrapper{position:relative;}
.swiper-slide img{width:100%;}
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 0.1rem;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 0.05rem;
  height: 0.05rem;
  border-radius: 50%;
  background: #555;
  margin: 0 0.03rem;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

/* home block start */
.home_block{width:100%;height:1.4rem;background-color:#fdfcf8;border-bottom:0.01rem solid #d0cfcd;overflow:hidden;}
.home_block li{float:left;}
.home_block .home_img{width:48%;}
.home_block .home_img img{width:1.22rem;height:1.4rem;}
.home_block .home_details{width:50%;padding-right:2%;}
.home_block .home_details .details1{font-size:0.12rem;color:#a6aeb4;padding-top:0.12rem;height:0.22rem;text-align:right;}
.home_block .home_details .details1 em{padding-right:0.06rem;}
.home_block .home_details .details1 span{color:#2e8dcf;height:0.22rem;display:inline-block;background-size:0.22rem 0.22rem;padding-right:0.28rem;background-image:url(carouse/head.png);background-repeat:no-repeat;background-position:right 0;}

.home_block .home_details .details2{font-size:0.15rem;background: url(../images/block2_bg.png) no-repeat right bottom;background-size:0.26rem 0.22rem;height:0.68rem;padding-top:0.10rem;overflow: hidden;}
.home_block .home_num{overflow:hidden;padding-top:0.05rem;}
.home_block .home_num li{float:left;color:#a6aeb4;font-size:0.12rem;width:0.49rem;}
.home_block .home_num li span{}

.home_block2{/* width:320px; */width:100%;height:1.4rem;background-color:#fdfcf8;border-bottom:0.01rem solid #d0cfcd;overflow:hidden;}
.home_block2 li{float:left;}
.home_block2 .home_details{width:50%;padding-left:2%;}
.home_block2 .home_img{width:48%;text-align:right;}
.home_block2 .home_img img{width:1.22rem;height:1.40rem;}
.home_block2 .home_details .details1{font-size:0.12rem;color:#a6aeb4;padding-top:0.06rem;height:0.22rem;text-align:left;}
.home_block2 .home_details .details1 em{padding-left:0.03rem;}
.home_block2 .home_details .details1 span{color:#2e8dcf;background:url(../images/portrait2.png) no-repeat left 0;height:0.22rem;display:inline-block;background-size:0.22rem 0.22rem;padding-left:0.28rem;}
.home_block2 .home_details .details2{font-size:0.15rem;background: url(../images/block2up_bg.png) no-repeat left 0.10rem;background-size:0.26rem 0.22rem;height:0.48rem;padding-top:0.38rem;}
.home_block2 .home_num{overflow:hidden;padding-top:0.05rem;}
.home_block2 .home_num li{float:left;color:#a6aeb4;font-size:0.12rem;}
.home_block2 .home_num li span{}
.flex_container{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items:flex-start;
}
.flex-normal{
    -webkit-flex:1;
    flex:1;
}
#footer{}
footer{position:fixed;left:0;bottom:0;z-index:100;width:100%;}

.footer{background:url(../images/footer_bg.png) repeat-x left top;overflow:hidden;background-color:#fdfcf8;}
.footer li{text-align:center;}
.footer li a{font-size:12px;display:inline-block;padding-top:38px;}
.footer li a.sy_bg{background:url(../images/iconHome.png) no-repeat center center;background-size:100%;color:#adb3bf;}
.footer li a.sy_bg1{background:url(../images/iconHomeH.png) no-repeat center center;background-size:100%;color:#55637c;}


.footer li a.fx_bg1{background:url(../images/iconFindH.png) no-repeat center center;background-size:100%;color:#55637c;}
.footer li a.fx_bg{background:url(../images/iconFind.png) no-repeat center center;background-size:100%;color:#adb3bf;}

/* .footer li a.tl_bg1{background:url(../images/iconTalkH.png) no-repeat center 12px;background-size:24px 24px;color:#55637c;display:none;}
.footer li a.tl_bg{background:url(../images/iconTalke.png) no-repeat center 12px;background-size:24px 24px;color:#adb3bf;} */

.footer li a.xx_bg1{background:url(../images/iconMessegeH.png) no-repeat center center;background-size:100%;color:#55637c;}
.footer li a.xx_bg{background:url(../images/iconMessege.png) no-repeat center center;background-size:100%;color:#adb3bf;}

.footer li a.wd_bg1{background:url(../images/iconUserH.png) no-repeat center center;background-size:100%;color:#55637c;}
.footer li a.wd_bg{background:url(../images/iconUser.png) no-repeat center center;background-size:100%;color:#adb3bf;}