@media screen and (max-width:321px){
    .font-title{font-size:16px}
    .font-bold{font-size:14px;}
    .font-normal{font-size:12px;}
    body{font-size:14px;}
}

@media screen and (min-width:321px) and (max-width:400px){
    .font-title{font-size:17px}
    .font-bold{font-size:15px;}
    .font-normal{font-size:13px;}
    body{font-size:15px;}
}

@media screen and (min-width:400px){
    .font-title{font-size:19px}
    .font-bold{font-size:17px;}
    .font-normal{font-size:15px;}
    body{font-size:17px;}
}