/*
 *   @样式重置
 */
@import "reset.css";
@import "media_query.css";
/*
 *   @模块设置
 */
@import 'layout.css';
/*
 *   @mixin 应用
 */
@import 'lib/swiper.min.css';
@import 'lib/LCalendar.css';
@import 'pages/index.css';
@import 'pages/user.css';
@import 'pages/edituser.css';
@import 'pages/home.css';
@import 'pages/search.css';
@import 'pages/searchMovie.css';
@import 'pages/messages.css';
@import 'pages/messages_comment.css';
@import 'pages/messagelist.css';
@import 'pages/messages_like.css';
@import 'pages/messages_fans.css';
@import 'pages/message.css';
@import 'pages/mycomment.css';
@import 'pages/myfocus.css';
@import 'pages/mycollet.css';
@import 'pages/history.css';
@import 'pages/other_means.css';
@import 'pages/other_means_more.css';
@import 'pages/moviedetails.css';
@import 'pages/moviedetails_top.css';
@import 'pages/moviedetails_comment.css';
.flex-container {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  box-align: start;
  align-items: flex-start;
}
.flex-normal {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  -o-flex: 1;
  flex: 1;
  width: 100%;
}
.flex-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/*
 *   @第三方引入库
 */
/*
 *   @页面信息
 */
