body{line-height:1.5;font-family:"PingFang SC Regular",arial,"\5b8b\4f53","微软雅黑";background:#FDFCF8;font-size:24px;-webkit-text-size-adjust: 100%; -webkit-overflow-scrolling: touch;overflow-scrolling: touch;color:#55637c;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
ol,ul{list-style:none}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;*font-size:100%}
fieldset,img,a img,:link img,:visited img{border:0}
a{text-decoration:none;-webkit-tap-highlight-color: rgba(255,255,255,0);}

.border_bnt{border-bottom:1px solid #efeeea;}
.mar_28{margin:0 28px;}
/*index背景图*/
#headerLogo{
	height: 460px;
	position: relative;
	background: url(../images/signup_background@2x.png) no-repeat;
}

#headerLogo>.lo{
	position: absolute;
	left:222px;
	top:214px ;

}

/*section*/
section{
	background-color: #2B2C2C;
	position: relative;
	padding-bottom: 45px;
}
.user_login{
	margin: 0 auto;
	padding-top: 100px;


}
.user_name{
	width: 432px;
	margin: 0 auto;
}
.user_name span{
	display: inline-block;
	border: 1px solid #A2A2A2;
	width:432px;
}
.user_name input{
	width:432px;
	margin:0 auto;
	background-color: #2B2C2C;
	border: none;
	text-align: center;
	line-height: 34px;
	color: #A2A2A2;
	font-size: 22px;
}
.userLoginBtn{
	width:432px;
	margin: 0 auto;
	margin-top: 100px;
}
#topa{
	display: inline-block;
	text-align: center;
	width:432px;
	color:#797571;
	line-height: 30px;
	margin:0 auto;
	font-size: 22px;
	margin-bottom: 20px;
}
.userLoginBtn>button{
	width:432px;
	border: 2px solid #fff;
	font-size: 22px;
	color: #fff;
	background-color: #2B2C2C;
	line-height: 40px;
}
#bota{
	display: block;
	width: 432px;
	margin: 0 auto;
	text-align: center;
	margin-top: 47px;
	color:#C2BFB7;
	line-height: 30px;
	font-size: 22px;
}
.partnerLink{
	width: 450px;
	margin: 0 auto;
	margin-top: 58px;
}
.partnerLink>a{
	margin-left: 60px;
}
.partnerLink>a>img{
	width:60px;
}
.alertS{
	display: none;
	width: 100%;
	height:5%;
	background-color: red;
	text-align: center;
	color: #fff;
	font-size: 10px; 
}
/* ------------------------home page start------------------------ */
/* 焦点图 */
.swiper_box .swiper-container{height:460px;top:0;}
.swiper-wrapper{position:relative;}
.swiper-slide img{width:640px;height:100%;}
.pagination {
  position: absolute;
  z-index: 20;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #555;
  margin: 0 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

/* home block start */
.home_block{width:640px;height:280px;background-color:#fdfcf8;border-bottom:1px solid #d0cfcd;overflow:hidden;}
.home_block li{float:left;}
.home_block .home_img{width:320px;}
.home_block .home_img img{width:244px;height:280px;}
.home_block .home_details{width:300px;padding-right:20px;}
.home_block .home_details .details1{font-size:24px;color:#a6aeb4;padding-top:12px;height:44px;text-align:right;}
.home_block .home_details .details1 em{padding-right:6px;}
.home_block .home_details .details1 span{color:#2e8dcf;height:44px;display:inline-block;background-size:44px 44px;padding-right:56px;background-image:url(carouse/head.png);background-repeat:no-repeat;background-position:right 0;}
.home_block .home_details .details2{font-size:30px;background: url(../images/block2_bg.png) no-repeat right bottom;background-size:52px 44px;height:152px;padding-top:20px;}
.home_block .home_num{overflow:hidden;padding-top:10px;}
.home_block .home_num li{float:left;color:#a6aeb4;font-size:24px;width:98px;}
.home_block .home_num li span{}

.home_block2{width:640px;height:280px;background-color:#fdfcf8;border-bottom:1px solid #d0cfcd;overflow:hidden;}
.home_block2 li{float:left;}
.home_block2 .home_details{width:300px;padding-left:20px;}
.home_block2 .home_img{width:320px;text-align:right;}
.home_block2 .home_img img{width:244px;height:280px;}
.home_block2 .home_details .details1{font-size:24px;color:#a6aeb4;padding-top:12px;height:44px;text-align:left;}
.home_block2 .home_details .details1 em{padding-left:6px;}
.home_block2 .home_details .details1 span{color:#2e8dcf;background:url(../images/portrait2.png) no-repeat left 0;height:44px;display:inline-block;background-size:44px 44px;padding-left:56px;}
.home_block2 .home_details .details2{font-size:30px;background: url(../images/block2up_bg.png) no-repeat left 20px;background-size:52px 44px;height:96px;padding-top:76px;}
.home_block2 .home_num{overflow:hidden;padding-top:10px;}
.home_block2 .home_num li{float:left;color:#a6aeb4;font-size:24px;}
.home_block2 .home_num li span{}
/* 底部导航部分 */

#footer{position:absolute;left:0;bottom:0;z-index:100;width:640px;height:112px;}
footer{position:fixed;left:0;bottom:0;z-index:9999;}

.footer{width:640px;height:112px;background:url(../images/footer_bg.png) repeat-x left top;overflow:hidden;background-color:#fdfcf8;}
.footer li{width:160px;height:112px;float:left;text-align:center;}
.footer li a{font-size:24px;width:160px;height:112px;display:inline-block;padding-top:68px;}
.footer li a.sy_bg{background:url(../images/iconHome.png) no-repeat center 24px;background-size:48px 48px;color:#adb3bf;}
.footer li a.sy_bg1{background:url(../images/iconHomeH.png) no-repeat center 24px;background-size:48px 48px;color:#55637c;}


.footer li a.fx_bg1{background:url(../images/iconFindH.png) no-repeat center 24px;background-size:48px 48px;color:#55637c;}
.footer li a.fx_bg{background:url(../images/iconFind.png) no-repeat center 24px;background-size:48px 48px;color:#adb3bf;}

/* .footer li a.tl_bg1{background:url(../images/iconTalkH.png) no-repeat center 12px;background-size:24px 24px;color:#55637c;display:none;}
.footer li a.tl_bg{background:url(../images/iconTalke.png) no-repeat center 12px;background-size:24px 24px;color:#adb3bf;} */

.footer li a.xx_bg1{background:url(../images/iconMessegeH.png) no-repeat center 24px;background-size:48px 48px;color:#55637c;}
.footer li a.xx_bg{background:url(../images/iconMessege.png) no-repeat center 24px;background-size:48px 48px;color:#adb3bf;}

.footer li a.wd_bg1{background:url(../images/iconUserH.png) no-repeat center 24px;background-size:48px 48px;color:#55637c;}
.footer li a.wd_bg{background:url(../images/iconUser.png) no-repeat center 24px;background-size:48px 48px;color:#adb3bf;}

/* --------------------------------message page start------------------------------------- */
.mes_title{width:640px;height:88px;border-bottom:1px solid #a4a4a4;text-align:center;font-size:32px;color:#55637c;line-height:88px;}
.fix_title{position:absolute;top:0;left:0;background:#FDFCF8;z-index:100;font-family: "PingFang SC Medium"}
.mes_pl{width:640px;height:118px;border-bottom:1px solid #a4a4a4;background:url(../images/ahead.png) no-repeat 560px center;box-shadow: 0px 2px #efeeea;}
.mes_pl a{display: block}
.user_info{overflow:hidden}
.user_info a{display:block;color:#55637c;font-size:28px;overflow:hidden;}
.user_info a>div{float:left}
.user_carouse,.user_carouse img{width:104px;height:104px;border-radius: 50%;}
.user_carouse{margin-left:43px;margin-top:35px;}
.user_nickname{margin-left:52px;margin-top:48px;}
.mes_pl .pl_span,.mes_pl .sx_span,.mes_pl .xh_span,.mes_pl .fs_span{font-size:32px;color:#55637c;height:118px;line-height:118px;display:inline-block;padding-left:110px;background:url(../images/comment.png) no-repeat 36px center;}
.mes_pl .sx_span{background:url(../images/message.png) no-repeat 36px center;}
.mes_pl .xh_span{background:url(../images/like.png) no-repeat 36px center;}
.mes_pl .fs_span{background:url(../images/fans.png) no-repeat 36px center;}


/* -------------------------------------user page start------------------------ */
.user_n{height:178px;margin-bottom:50px;position:relative;background-position:560px 45px}
.user_n .user_name{height:178px;line-height:140px;background:url(../images/portrait_Normal_L.png) no-repeat 36px center;padding-left:200px;}
.user_name a{display:block;color:#55637c}
.notice{position:absolute;font-size:24px;font-family: "PingFang SC Light";top:98px;left:200px;color:#55637C;}
.user_line{width:600px;height:435px;border-top:1px solid #eae9e6;border-bottom:1px solid #eae9e6;padding:0 20px;overflow:scroll;}
.user_l{height:86px;line-height:86px;border-bottom:1px solid #eae9e6;}
.user_l a{display:block;color:#55637c;font-family: "PingFang SC Light"}
.user_l span{font-size:28px;background:url(../images/user_write.png) no-repeat 12px center;padding-left:100px;display:inline-block;height:86px;line-height:86px;}
.user_like span{background:url(../images/write_like.png) no-repeat 12px center;}
.user_sc span{background:url(../images/user_collection.png) no-repeat 12px center;}
.user_history span{background:url(../images/user_history.png) no-repeat 12px center;}
.user_draft span{background:url(../images/user_draft.png) no-repeat 12px center;}
.user_night span{background:url(../images/user_night.png) no-repeat 12px center;}
.user_night{border-bottom:0;}

/* ---------------------------------------search page start ---------------------------*/
.search{width:592px;height:88px;padding-left:48px;overflow:hidden;background-color:#55637c;position:fixed;top:0;left:0;z-index:9999;}
.search li{height:88px;line-height:102px;float:left;}
.search input{width:470px;height:48px;color:#fff;font-size:26px;border:0;background:#6b7d9c url(../images/find_find.png) no-repeat 405px center;padding-left:36px;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgba(255,255,255,0.6);  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:rgba(255,255,255,0.6);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color:rgba(255,255,255,0.6);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color:rgba(255,255,255,0.6);
}
.search_erweima img{height:52px;padding:20px 0 0 32px;}

.search_body{width:552px;background-color:#fff;padding:48px 44px;overflow:hidden;position:absolute;left:0;top:88px;}
.search_body li{float:left;width:261px;/* height:476px; */}
.search_body li img{width:261px;height:373px;}
.search_body li:nth-of-type(odd){ margin-right:30px;}/* 奇数行 */   
.search_body li:nth-of-type(even){margin:0}/* 偶数行 */
.search_body li span{font-size:28px;color:#393939;width:261px;display:inline-block;text-align:center;padding:10px 0;}


/* -----------------------------------------------书写页start----------------------------- */
.write_back{overflow:hidden;padding:12px 10px 0;}
.write_back li.w_back{float:left;}
.write_back li.w_back a{display:inline-block;}
.write_back li.w_done{float:right;}
.w_movie,.w_title{border-bottom:1px solid #bfbfbd;background:url(../images/write_retractKeyboard.png) no-repeat right center;height:70px;width:584px;margin-top:26px;}
.w_movie .w_text{background:url(../images/write_movie.png) no-repeat 10px center;font-size:28px;color:#3c3c3c;display:inline-block;height:70px;line-height:70px;padding-left:100px;}
.w_star{width:584px;height:96px;line-height:150px;overflow:hidden;border-bottom:1px solid #bfbfbd;padding-left:10px;}
.w_star span{float:left;display:inline-block;width:40px;height:96px;line-height:150px;margin-right:10px;}
.w_star span img{width:40px;height:40px;}
.w_title{background:none;overflow:hidden;}
.w_title span{float:left;padding-left:10px;}
.w_title form{float:left;width:440px;height:60px;border:0;margin-left:24px;}
.w_title form input{width:440px;height:60px;outline:none;border:0;color:#ababae;font-size:28px;}
.w_txtarea{width:496px;/* height:294px; */margin-top:30px;background:url(../images/write-write.png) no-repeat 10px top;padding-left:100px;font-size:28px;color:#ababae;border:0;outline:none;}
/* ------------------------------searchMovie page start---------------------------------------- */
.search li.search_cancel{font-size:30px;color:#fff;padding-left:26px;line-height:100px;}
.search input.search_mov{border-radius:50px;height:50px;}
.wrap{margin:80px 42px 0;}
.wrap .tag{overflow:hidden;}
.wrap .tag li{width:154px;height:94px;text-align:center;line-height:112px;font-size:36px;float:left;margin-right:46px;color:rgba(255,255,255,0.6);}
.wrap .tag li.tag_nomar{margin-right:0;}
.wrap .tag li.current{border-bottom:2px solid #fff;color:#fff;}
.search_tag1{}
.search_tag1 ul{overflow:hidden;width:556px;height:176px;margin-top:42px;}
.search_tag1 ul li.search_tag1img{float:left;width:124px;height:176px;margin-right:20px;}
.search_tag1 ul li.search_tag1img img{width:124px;height:176px;}
.search_tag1 ul li.search_tag1txt{float:left;color:#fff;width:412px;height:162px;padding-top:14px;}
li.search_tag1txt .tag1_title{font-size:32px;}
li.search_tag1txt .tag1_midtxt span{font-size:24px;margin-right:10px;}
li.search_tag1txt .tag1_midtxt em{font-size:30px;}
li.search_tag1txt .tag1_bnttxt{font-size:28px;}
li.search_tag1txt .tag1_bnttxt span{font-size:32px;margin-right:10px;}
/* ----------------------searchMovie_review page start------------ */
.review_div{color:#fff;padding:30px 0;border-bottom:1px solid rgba(255,255,255,0.6);}
.review_div .review_title{font-size:32px;}
.review_div span{display:inline-block;text-align:right;font-size:28px;width:556px;margin:10px 0;color:rgba(255,255,255,0.8);}
.review_div p{font-size:24px;color:rgba(255,255,255,0.8);}
/* ------------------------------serchMovie_user page start------------------------------- */
.movie_user{height:120px;line-height:120px;color:#fff;font-size:28px;border-bottom:1px solid rgba(255,255,255,0.6);overflow:hidden;}
.movie_user li{float:left;}
.movie_user .user_img{width:72px;height:120px;margin-right:20px;}
.movie_user .user_img a{display:inline-block;height:120px;}
.movie_user .user_img img{width:72px;height:72px;border-radius:50%;padding-top:24px;}
.user_txt{width:464px;white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
/* ----------------------scroll common------------ */
.preloader {
  position: absolute;
  left: 0;
  z-index: 0;
  color: #fff;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100%;
  opacity: 0;
  font-size: 25px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  background: rgba(0,0,0,0.1);
}
.visible {
  top: 90px;
  z-index:20;
  opacity: 1;
}
.prebottom.visible_bottom {
    bottom:112px;
    z-index:20;
    opacity: 1;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  z-index: 10;
  top:90px;
  overflow:hidden;
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide {
  width: 100%;
  overflow:hidden;
}
.swiper-slide-warpper>div{
	float:left;
}
.swiper-slide-warpper .title {
  font-style: italic;
  font-size: 42px;
}


/* ----------------------message page start------------ */
.message_list_slide{width:100%;height:80px;border-bottom:2px solid #efefef;padding:14px 0;overflow:hidden;}
.message_list_slide>a{display:block;color:#333}
.message_list_slide>a>div{float:left}
.message_carouse{padding-left:45px;}
.message_carouse,.message_carouse img{width:80px;height:80px;border-radius: 50%;margin-right:20px;}
.message_list{position:relative;width:440px}
.message_date{position: absolute;right:5px;top:5px;font-family: "PingFang SC Light",arial;font-size:20px;}
.message_nickname{font-size:24px;color:#2E88CE;line-height:42px;}
.message_talk{white-space: nowrap;line-height:33px;overflow: hidden;text-overflow:ellipsis;font-size:28px;color:#55637C}
.message_detail .swiper-slide{padding-top:25px}
.goback{position:absolute;left:40px;top:13.5px;}
.goback a{display:block}
.swiper-from>div{float:right}
.swiper-slide-warpper .dialog_carouse{margin-left:25px;margin-right: 10px}
.swiper-from .dialog_carouse{margin-right:25px;margin-left:10px}
.dialog_carouse,.dialog_carouse img{width:98px;height:98px;border-radius: 50%}
.swiper-slide-warpper .dialog_content{background:#f3f3f3}
.swiper-from .dialog_content{background:#b2f074}
.user-input{width:390px;height:50px;margin-top:30px;font-size:24px;border:1px solid #55637C;border-radius: 8px;}
.send{width:100px;height:50px;margin-top:30px;font-size:24px;}
.dialog_content{font-size:28px;margin-top:7px;color:#55637C;border-radius: 15px;max-width: 365px;padding:20px 17px;white-space:pre-wrap;word-wrap:break-word;}
.triangle-left {width:0;height:0;border-top:20px solid transparent;border-bottom:20px solid transparent;border-right:20px solid #f3f3f3;margin-top:30px;}
.triangle-right {width:0;height:0;border-top:20px solid transparent;border-bottom:20px solid transparent;border-left:20px solid #b2f074;margin-top:30px;}
/* 他人资料页面 */
.other_fixed{position:fixed;top:0;left:0;z-index:999;background-color:#fff;width:640px;}
.other_36{padding-bottom:36px;}
.other_ul{overflow:hidden;padding:12px 10px 0;}
.other_le{float:left;}
.other_le a{display:inline-block;}
.other_ri{float:right;width:52px;height:52px;}
.other_ul2{overflow: hidden;margin:30px 0 24px;}
.other_ul2 li{float:left;font-size:24px;color:#55637c;}
.other_le2{}
.other_le2 img{width:122px;height:122px;border-radius:50%;display:block;}
.other_cen2{padding: 28px 0 0 300px;}
.other_ri2{padding:28px 0 0 46px;}
.other_cen2 span,.other_ri2 span{display:block;}
.other_ul3{overflow:hidden;font-size:24px;color:#55637c;margin-bottom:20px;}
.other_ul3 li{}
.other_le3{float:left;width:360px;height:52px;}
.other_le3 em{float:left;line-height:52px;padding-right:30px;}
.other_le3 img{float:left;}
.other_ri3{float:right;width:150px;height:40px;border-radius:6px;border:1px solid #55637c;line-height:40px;text-align:center;}
.other_p{font-size:24px;color:#55637c;}
.other_img{width:52px;height:52px;line-height:52px;background:url(../images/write-write.png) no-repeat left center;font-size:24px;color:#ccc;padding-left:68px;}
.other_mar_386{margin-top:386px;}
.other_pinglun{border-bottom:1px solid #efeeea;}
.other_pad_30{padding-top:30px;}
.other_pinglun h4{font-size:30px;color:#55637c;margin-top:30px;}
.other_pinglun p{font-size:24px;color:#828893;height:78px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-line-clamp:2;overflow:hidden;margin:24px 0;}
/* ----------------------myfocus page start------------ */
.myfocus{margin:0 45px;width:550px;height:100px;padding:22.5px 0;border-bottom:2px solid #e6e5e2;position: relative;}
.myfocus-slide{clear:both;width:100%;height:100%;transition:all .5s;}
.myfocus-slide>div{float:left;}
.myfocus-slide>div a{display:block}
.myfocus-slide,.del_focus{float:left}
.myfocus-slide .focus_carouse{margin-right:15px;}
.myfocus-slide .focus_carouse,.myfocus-slide .focus_carouse img{width:100px;height:100px;border-radius: 50%;}
.myfocus-slide a .focus_nickname{color:#2E88CE;font-size:28px;}
.myfocus-slide a .focus_notice{color:#55637C;font-size:24px;font-family:"PingFang SC Light"}
.focus_content{margin-top:16px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.del_focus{width:0px;height:145px;top:0;background:#e13030;transition:all .5s;position: absolute;right:-45px;opacity:0;}
.delete_img{position:absolute;left:50%;top:50%;margin-left:-26px;margin-top:-32px;}
.slide-left{transform:translateX(-100px);transition:all .5s;}
.swiper-wrapper .del_visible{width:100px;right:0px;opacity:1;transition:all .5s;}
/* ----------------------mycollet page start------------ */
.mycollet{margin:0 45px;width:550px;padding:15px 0;border-bottom:2px solid #e6e5e2;position: relative;}
.mycollet-slide a {color:#55637C;display:block;}
.mycollet_author{font-size:20px;font-family: "PingFang SC Light";color:#2e88ce;line-height: 32px;}
.mycollet_author span{color:#b5b5b6;margin-left:8px;}
.mycollet_title{color:#55637c;font-size:28px;line-height:57px;margin-left: -15px;}
.mycollet_content{font-size:24px;font-family: "PingFang SC Light";color:#828893;line-height:38px;}
.del_collet{width:0px;height:100%;top:0;background:#e13030;transition:all .5s;position: absolute;right:-45px;opacity:0;}
.swiper-wrapper .mycollet .del_visible{width:125px;}
.del_focus{width:0px;height:145px;top:0;background:#e13030;transition:all .5s;position: absolute;right:0px;opacity:0;}
.del_focus img{margin:40px 23px;left:0%;top:0%;}
.del_focus_visible{width:100px;right:45px;opacity:1;transition:all .5s;}
/* 他人资料-更多 */
.means_more_top{width:640px;padding-top:46px;}
.means_more_top ul{width:50%;margin:0 25%;overflow:hidden;}
.means_more_top ul li{float:left;padding-bottom:24px;width:50%;text-align:center;}
.means_more_top ul li span{display:block;font-size:24px;color:#cfccc5;text-align:center;}
.means_more_top ul li.f_right{float:right;}
.more_h3{padding:40px 0;border-bottom:1px solid #efeeea;font-size:32px;color:#55637c;text-align:center;font-weight:normal;}
.more_h3 span{display:block;margin-top:40px;color:#828893;}
.more_h3_dis{display:none;}
.mask{width:100%;height:100%;position:absolute;top:0;left:0;background-color:#000;filter;alpha(opacity:=50);opacity:0.5;z-index:999;display:none;}
.pop{position:fixed;top:300px;left:50%;margin-left:-277px;width:554px;height:380px;background-color:#fff;border-radius:10px;z-index:1000;text-align:center;display:none;}
.pop h4{padding:70px 0 54px 0;color:#55637c;font-size:24px;}
.pop p{padding-bottom:34px;border-bottom:1px solid #efeeea;font-size:24px;color:#55637c;padding: 0 50px 34px;text-align:left;}
.pop_bnt{overflow:hidden;}
.pop_bnt button{float:left;width:276px;height:113px;border:none;border-right:1px solid #efeeea;line-height:106px;color:#248bfb;font-size:30px;background:none;font-weight:bold;}
.pop_bnt button.ri{width:277px;}
.fans{width:564px;height:150px;line-height:150px;font-size:28px;color:#55637c;border-bottom:1px solid #a4a4a4;margin:0 auto;}
.fans span,.like em{padding-right:10px;}
.comment{overflow:hidden;width:564px;padding:40px 0;border-bottom:1px solid #a4a4a4;margin:0 auto;}
.comment li{float:left;}
.comment .head_img{width:108px;}
.comment .head_img img{width:58px;height:58px;border-radius:50%;}
.comment .head_img em{display:block;font-size:24px;color:#2e88ce;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.comment .comment_ri{width:456px;}
.comment .comment_ri p{color:#55637c;font-size:28px;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.comment .comment_ri h4{color:#55637c;font-size:24px;font-weight:normal;padding:24px 0 0 72px;}
.like{padding:40px 0;margin:0 auto;width:564px;color:#55637c;font-size:28px;border-bottom:1px solid #a4a4a4;}
/* ----------------------history page start------------ */
.history_box{font-size:28px;margin:0 45px;line-height:143px;width:550px;height:143px;border-bottom:2px solid #e6e5e2;}
.history_date{font-family: "PingFang SC Light";font-size:24px;color:#A6A6A7;}
.history_title{margin-left:-15px;}
.history_box a{display:block;color:#55637C;overflow:hidden;}
.history_title{float:left;margin-left:-15px;}
.history_date{float:right;}
/* ----------------------edit_user page start------------ */
.edit_carouse{width:100%;height:204px;text-align:center;border-bottom:2px solid #eae9e6;box-shadow: 0px 3px 5px #eae9e6;position:relative;}
.edit_carouse img{margin-top:42px;width:120px;height:120px;border-radius: 50%;}
.edit_mes{margin:0px 45px 0;width:550px;}
.edit_box{width:100%;height:86px;line-height:86px;border-bottom:2px solid #eae9e6;}
.edit_box>div{float:left}
.edit_label{width:125px;text-align:center;line-height:88px;font-size:28px;color:#55637c;margin-right:12px;}
.edit_content_username input{width:413px;height:80px;background:#FDFCF8;border:none;outline:none;font-size:28px;position:relative;top:4px;color:#55637c;}
.edit_sign{height:155px;line-height:155px;position:relative;}
.edit_sign .edit_label{line-height:155px;}
.word_count{font-size:24px;color:#a6a6a7;position:absolute;right:5px;top:5px;line-height:35px;}
.edit_content_sign textarea{width:410px;height:100px;position:absolute;top:35px;left:137px;background:#FDFCF8;line-height:50px;word-break:break-all;outline:none;font-size:24px;border:none;resize:none;color:#a6a6a7;}
.edit_content_sex,.edit_content_zone,.edit_content_birthday{color:#55637c;font-size:28px;}
.edit_content_sex input,.edit_content_zone input,.edit_content_birthday input{font-size:28px;color:#55637c;background:#FDFCF8;border:none;outline:none;position:relative;top:1px;}
.edit_content_sex{width:410px;}
.edit_mask{width:100%;height:100%;opacity:0;display:none;position:fixed;left:0;top:0;z-index:1000;background:rgba(0,0,0,0.2);}
.edit_modal,.edit_modal_wrap{width:560px;font-size:28px;color:#55637c;text-align:center;height:224px;border-radius:20px;background:#fff;top:50%;left:50%;margin-left:-280px;margin-top:-112px;position:absolute;z-index:1002;}
.edit_modal_wrap{box-shadow: 3px 3px 3px #eae9e6;}
.edit_modal{box-shadow: -2px -2px 3px #eae9e6;}
.edit_modal_title{width:100%;height:111px;border-bottom:2px solid #eae9e6;line-height:111px;}
.edit_modal a{display:inline-block;width:275px;border-right: 2px solid #eae9e6;height:111px;text-align:center;line-height: 111px;color:#55637c;}
.edit_modal a:last-child{border-right: none;}
.edit_mask_in{opacity:1;transition:opacity .5s;}
.edit_mask_out{opacity:0;transition:opacity .5s;}
/* 用户-我的影评 */
.mycomment{border-bottom:1px solid #e6e5e2;margin:0 48px;}
.mycomment_title{font-size:32px;color:#55637c;padding-top:48px;}
.mycomment_body{overflow:hidden;padding:30px 0 15px 300px;}
.mycomment_body li{float:left;font-size:24px;color:#babfc8;height:40px;line-height:40px;padding-left:10px;overflow:hidden;}
.mycomment_body li img,.mycomment_body li span{float:left;}
.mycomment_body li img{width:40px;height:40px;}
.mycomment_body li span{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:72px;}

/* 影评页 */
.s_page_top{height:410px;width:640px;overflow:hidden;position:relative;}
.s_page_top img{}
.s_page_img{position:absolute;font-size:32px;color:#fff;top:80px;left:24px;}
.s_page_img h4{padding-bottom:30px;font-weight:normal;}
.s_page_img h4 span{font-size:50px;padding-right:10px;}
.s_page_img ul li{padding-bottom:12px;}

.carouse{width:200px;height:200px;}



.loading{width:640px;height:460px;position:absolute;top:200px;left:50%;margin-left:-16px;display:none;}
