body{line-height:1.5;font-family:"PingFang SC Regular",arial,"\5b8b\4f53","微软雅黑";background:#fff;font-size:12px}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%}
ol,ul{list-style:none}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:normal}
input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;*font-size:100%}
fieldset,img,a img,:link img,:visited img{border:0}
a{text-decoration:none;-webkit-tap-highlight-color: rgba(255,255,255,0);}


/*index背景图*/
#headerLogo{
	height: 460px;
	position: relative;
	background: url(../images/signup_background@2x.png) no-repeat;
}

#headerLogo>.lo{
	position: absolute;
	left:222px;
	top:214px ;

}

/*section*/
section{
	background-color: #2B2C2C;
	position: relative;
	padding-bottom: 45px;
}
.user_login{
	margin: 0 auto;
	padding-top: 100px;


}
.user_name{
	width: 432px;
	margin: 0 auto;
}
.user_name span{
	display: inline-block;
	border: 1px solid #A2A2A2;
	width:432px;
}
.user_name input{
	width:432px;
	margin:0 auto;
	background-color: #2B2C2C;
	border: none;
	text-align: center;
	line-height: 34px;
	color: #A2A2A2;
	font-size: 22px;
}
.userLoginBtn{
	width:432px;
	margin: 0 auto;
	margin-top: 100px;
}
#topa{
	display: inline-block;
	text-align: center;
	width:432px;
	color:#797571;
	line-height: 30px;
	margin:0 auto;
	font-size: 22px;
	margin-bottom: 20px;
}
.userLoginBtn>button{
	width:432px;
	border: 2px solid #fff;
	font-size: 22px;
	color: #fff;
	background-color: #2B2C2C;
	line-height: 40px;
}
#bota{
	display: block;
	width: 432px;
	margin: 0 auto;
	text-align: center;
	margin-top: 47px;
	color:#C2BFB7;
	line-height: 30px;
	font-size: 22px;
}
.partnerLink{
	width: 450px;
	margin: 0 auto;
	margin-top: 58px;
}
.partnerLink>a{
	margin-left: 60px;
}
.partnerLink>a>img{
	width:60px;
}
/* ------------------------home page start------------------------ */
/* 焦点图 */
.slideBox{ position:relative; overflow:hidden;max-width:640px;/* 设置焦点图最大宽度 */ }
.slideBox .hd{ position:absolute; height:80px; line-height:80px; bottom:0; right:0; z-index:1;left:50%;margin-left:-64px; }
.slideBox .hd li{ display:inline-block; width:12px; height:12px; -webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%; background:#333; text-indent:-9999px; overflow:hidden; margin:0 6px;   }
.slideBox .hd li.on{ background:#fff;  }
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ background:url(../images/loading.gif) center center no-repeat;  vertical-align:top; width:100%;/* 图片宽度100%，达到自适应效果 */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */
/* home block start */
.home_block{width:640px;height:280px;background-color:#fdfcf8;border-bottom:1px solid #d0cfcd;overflow:hidden;}
.home_block li{float:left;}
.home_block .home_img{width:320px;}
.home_block .home_img img{width:244px;height:280px;}
.home_block .home_details{width:300px;padding-right:20px;}
.home_block .home_details .details1{font-size:24px;color:#a6aeb4;padding-top:12px;height:44px;text-align:right;}
.home_block .home_details .details1 em{padding-right:6px;}
.home_block .home_details .details1 span{color:#2e8dcf;height:44px;display:inline-block;background-size:44px 44px;padding-right:56px;background-image:url(carouse/head.png);background-repeat:no-repeat;background-position:right 0;}
.home_block .home_details .details2{font-size:30px;background: url(../images/block2_bg.png) no-repeat right bottom;background-size:52px 44px;height:152px;padding-top:20px;}
.home_block .home_num{overflow:hidden;padding-top:10px;}
.home_block .home_num li{float:left;color:#a6aeb4;font-size:24px;width:98px;}
.home_block .home_num li span{}

.home_block2{width:640px;height:280px;background-color:#fdfcf8;border-bottom:1px solid #d0cfcd;overflow:hidden;}
.home_block2 li{float:left;}
.home_block2 .home_details{width:300px;padding-left:20px;}
.home_block2 .home_img{width:320px;text-align:right;}
.home_block2 .home_img img{width:244px;height:280px;}
.home_block2 .home_details .details1{font-size:24px;color:#a6aeb4;padding-top:12px;height:44px;text-align:left;}
.home_block2 .home_details .details1 em{padding-left:6px;}
.home_block2 .home_details .details1 span{color:#2e8dcf;background:url(../images/portrait2.png) no-repeat left 0;height:44px;display:inline-block;background-size:44px 44px;padding-left:56px;}
.home_block2 .home_details .details2{font-size:30px;background: url(../images/block2up_bg.png) no-repeat left 20px;background-size:52px 44px;height:96px;padding-top:76px;}
.home_block2 .home_num{overflow:hidden;padding-top:10px;}
.home_block2 .home_num li{float:left;color:#a6aeb4;font-size:24px;}
.home_block2 .home_num li span{}
/* 底部导航部分 */
#footer{position:absolute;left:0;bottom:0;z-index:100;}
.footer{width:640px;height:112px;background:url(../images/footer_bg.png) repeat-x left top;overflow:hidden;background-color:#fdfcf8;}
.footer li{width:160px;height:112px;float:left;text-align:center;}
.footer li a{font-size:24px;width:160px;height:112px;display:inline-block;padding-top:68px;}
.footer li a.sy_bg{background:url(../images/iconHome.png) no-repeat center 24px;background-size:48px 48px;color:#adb3bf;}
.footer li a.sy_bg1{background:url(../images/iconHomeH.png) no-repeat center 24px;background-size:48px 48px;color:#55637c;}


.footer li a.fx_bg1{background:url(../images/iconFindH.png) no-repeat center 24px;background-size:48px 48px;color:#55637c;}
.footer li a.fx_bg{background:url(../images/iconFind.png) no-repeat center 24px;background-size:48px 48px;color:#adb3bf;}

/* .footer li a.tl_bg1{background:url(../images/iconTalkH.png) no-repeat center 12px;background-size:24px 24px;color:#55637c;display:none;}
.footer li a.tl_bg{background:url(../images/iconTalke.png) no-repeat center 12px;background-size:24px 24px;color:#adb3bf;} */

.footer li a.xx_bg1{background:url(../images/iconMessegeH.png) no-repeat center 24px;background-size:48px 48px;color:#55637c;}
.footer li a.xx_bg{background:url(../images/iconMessege.png) no-repeat center 24px;background-size:48px 48px;color:#adb3bf;}

.footer li a.wd_bg1{background:url(../images/iconUserH.png) no-repeat center 24px;background-size:48px 48px;color:#55637c;}
.footer li a.wd_bg{background:url(../images/iconUser.png) no-repeat center 24px;background-size:48px 48px;color:#adb3bf;}

/* --------------------------------message page start------------------------------------- */
.mes_title{width:640px;height:88px;border-bottom:1px solid #a4a4a4;text-align:center;font-size:32px;color:#55637c;line-height:88px;}
.fix_title{position:absolute;top:0;left:0;background:#fff;z-index:100;font-family: "PingFang SC Medium"}
.mes_pl{width:640px;height:118px;border-bottom:1px solid #a4a4a4;background:url(../images/ahead.png) no-repeat 560px center;box-shadow: 0px 2px #efeeea;}
.mes_pl a{display: block}
.mes_pl .pl_span,.mes_pl .sx_span,.mes_pl .xh_span,.mes_pl .fs_span{font-size:32px;color:#55637c;height:118px;line-height:118px;display:inline-block;padding-left:110px;background:url(../images/comment.png) no-repeat 36px center;}
.mes_pl .sx_span{background:url(../images/message.png) no-repeat 36px center;}
.mes_pl .xh_span{background:url(../images/like.png) no-repeat 36px center;}
.mes_pl .fs_span{background:url(../images/fans.png) no-repeat 36px center;}


/* -------------------------------------user page start------------------------ */
.user_n{height:178px;margin-bottom:50px;position:relative;background-position:560px 45px}
.user_n .user_name{height:178px;line-height:140px;background:url(../images/portrait_Normal_L.png) no-repeat 36px center;padding-left:200px;}
.notice{position:absolute;font-size:24px;font-family: "PingFang SC Light";top:98px;left:200px;color:#55637C;}
.user_line{width:600px;height:521px;border-top:1px solid #eae9e6;border-bottom:1px solid #eae9e6;padding:0 20px;}
.user_l{height:86px;line-height:86px;border-bottom:1px solid #eae9e6;}
.user_l a{display:block;color:#55637c;font-family: "PingFang SC Light"}
.user_l span{font-size:28px;background:url(../images/user_write.png) no-repeat 12px center;padding-left:100px;display:inline-block;height:86px;line-height:86px;}
.user_like span{background:url(../images/write_like.png) no-repeat 12px center;}
.user_sc span{background:url(../images/user_collection.png) no-repeat 12px center;}
.user_history span{background:url(../images/user_history.png) no-repeat 12px center;}
.user_draft span{background:url(../images/user_draft.png) no-repeat 12px center;}
.user_night span{background:url(../images/user_night.png) no-repeat 12px center;}
.user_night{border-bottom:0;}

/* ---------------------------------------search page start ---------------------------*/
.search{width:592px;height:88px;padding-left:48px;overflow:hidden;}
.search li{height:88px;line-height:102px;float:left;}
.search input{width:470px;height:48px;color:#fff;font-size:26px;border:0;background:#6b7d9c url(../images/find_find.png) no-repeat 405px center;padding-left:36px;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:rgba(255,255,255,0.6);  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:rgba(255,255,255,0.6);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color:rgba(255,255,255,0.6);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color:rgba(255,255,255,0.6);
}
.search_erweima img{height:52px;padding:20px 0 0 32px;}

.search_body{width:552px;background-color:#fff;padding:48px 44px;overflow:hidden;}
.search_body li{float:left;width:261px;height:476px;}
.search_body li img{width:261px;height:373px;}
.search_body li:nth-of-type(odd){ margin-right:30px;}/* 奇数行 */   
.search_body li:nth-of-type(even){margin:0}/* 偶数行 */
.search_body li span{font-size:28px;color:#393939;width:261px;display:inline-block;text-align:center;padding-top:10px;}


/* -----------------------------------------------书写页start----------------------------- */
.write_back{overflow:hidden;padding:12px 10px 0;}
.write_back li.w_back{float:left;}
.write_back li.w_back a{display:inline-block;}
.write_back li.w_done{float:right;}
.w_movie,.w_title{border-bottom:1px solid #bfbfbd;background:url(../images/write_retractKeyboard.png) no-repeat right center;height:70px;width:584px;margin-top:26px;}
.w_movie .w_text{background:url(../images/write_movie.png) no-repeat 10px center;font-size:28px;color:#3c3c3c;display:inline-block;height:70px;line-height:70px;padding-left:100px;}
.w_star{width:584px;height:96px;line-height:150px;overflow:hidden;border-bottom:1px solid #bfbfbd;padding-left:10px;}
.w_star span{float:left;display:inline-block;width:40px;height:96px;line-height:150px;margin-right:10px;}
.w_star span img{width:40px;height:40px;}
.w_title{background:none;overflow:hidden;}
.w_title span{float:left;padding-left:10px;}
.w_title form{float:left;width:440px;height:60px;border:0;margin-left:24px;}
.w_title form input{width:440px;height:60px;outline:none;border:0;color:#ababae;font-size:28px;}
.w_txtarea{width:496px;/* height:294px; */margin-top:30px;background:url(../images/write-write.png) no-repeat 10px top;padding-left:100px;font-size:28px;color:#ababae;border:0;outline:none;}
/* ------------------------------searchMovie page start---------------------------------------- */
.search li.search_cancel{font-size:30px;color:#fff;padding-left:26px;line-height:100px;}
.search input.search_mov{border-radius:50px;height:50px;}
.wrap{margin:0 42px;}
.wrap .tag{overflow:hidden;}
.wrap .tag li{width:154px;height:94px;text-align:center;line-height:112px;font-size:36px;float:left;margin-right:46px;color:rgba(255,255,255,0.6);}
.wrap .tag li.tag_nomar{margin-right:0;}
.wrap .tag li.current{border-bottom:2px solid #fff;color:#fff;}
.search_tag1{}
.search_tag1 ul{overflow:hidden;width:556px;height:176px;margin-top:42px;}
.search_tag1 ul li.search_tag1img{float:left;width:124px;height:176px;margin-right:20px;}
.search_tag1 ul li.search_tag1img img{width:124px;height:176px;}
.search_tag1 ul li.search_tag1txt{float:left;color:#fff;width:412px;height:162px;padding-top:14px;}
li.search_tag1txt .tag1_title{font-size:32px;}
li.search_tag1txt .tag1_midtxt span{font-size:24px;margin-right:10px;}
li.search_tag1txt .tag1_midtxt em{font-size:30px;}
li.search_tag1txt .tag1_bnttxt{font-size:28px;}
li.search_tag1txt .tag1_bnttxt span{font-size:32px;margin-right:10px;}
/* ----------------------searchMovie_review page start------------ */
.review_div{color:#fff;padding:30px 0;border-bottom:1px solid rgba(255,255,255,0.6);}
.review_div .review_title{font-size:32px;}
.review_div span{display:inline-block;text-align:right;font-size:28px;width:556px;margin:10px 0;color:rgba(255,255,255,0.8);}
.review_div p{font-size:16px;color:rgba(255,255,255,0.8);}
/* ------------------------------serchMovie_user page start------------------------------- */
.movie_user{height:120px;line-height:120px;padding-left:100px;color:#fff;font-size:28px;background:url(../images/portrait_Normal_M.png) no-repeat left center;background-size:72px 72px;border-bottom:1px solid rgba(255,255,255,0.6);}
/* ----------------------scroll common------------ */
.preloader {
  position: absolute;
  left: 0;
  z-index: 0;
  color: #fff;
  text-align: center;
  line-height: 100px;
  height: 100px;
  width: 100%;
  opacity: 0;
  font-size: 25px;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
  background: rgba(0,0,0,0.1);
}
.visible {
  top: 90px;
  z-index:20;
  opacity: 1;
}
.prebottom.visible_bottom {
    bottom:112px;
    z-index:20;
    opacity: 1;
}
.swiper-container {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  z-index: 10;
  top:90px;
  overflow:hidden;
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide {
  width: 100%;
  overflow:hidden;
}
.swiper-slide-warpper>div{
	float:left;
}
.swiper-slide-warpper .title {
  font-style: italic;
  font-size: 42px;
}


/* ----------------------message page start------------ */
.message_list_slide{width:100%;height:80px;border-bottom:2px solid #efefef;padding:14px 0;overflow:hidden;}
.message_list_slide>a{display:block;color:#333}
.message_list_slide>a>div{float:left}
.message_carouse{padding-left:45px;}
.message_carouse,.message_carouse img{width:80px;height:80px;border-radius: 50%;margin-right:20px;}
.message_list{position:relative;width:440px}
.message_date{position: absolute;right:5px;top:5px;font-family: "PingFang SC Light",arial;font-size:20px;}
.message_nickname{font-size:24px;color:#2E88CE;line-height:42px;}
.message_talk{white-space: nowrap;line-height:33px;overflow: hidden;text-overflow:ellipsis;font-size:28px;color:#55637C}
.message_detail .swiper-slide{padding-top:25px}
.goback{position:absolute;left:40px;top:13.5px;}
.goback a{display:block}
.swiper-from>div{float:right}
.swiper-slide-warpper .dialog_carouse{margin-left:25px;margin-right: 10px}
.swiper-from .dialog_carouse{margin-right:25px;margin-left:10px}
.dialog_carouse,.dialog_carouse img{width:98px;height:98px;border-radius: 50%}
.swiper-slide-warpper .dialog_content{background:#f3f3f3}
.swiper-from .dialog_content{background:#b2f074}
.user-input{width:390px;height:50px;margin-top:30px;font-size:24px;border:1px solid #55637C;border-radius: 8px;}
.send{width:100px;height:50px;margin-top:30px;font-size:24px;}
.dialog_content{font-size:28px;margin-top:7px;color:#55637C;border-radius: 15px;max-width: 365px;padding:20px 17px;white-space:pre-wrap;word-wrap:break-word;}
.triangle-left {width:0;height:0;border-top:20px solid transparent;border-bottom:20px solid transparent;border-right:20px solid #f3f3f3;margin-top:30px;}
.triangle-right {width:0;height:0;border-top:20px solid transparent;border-bottom:20px solid transparent;border-left:20px solid #b2f074;margin-top:30px;}
/* ----------------------myfocus page start------------ */
.myfocus{margin:0 45px;width:550px;height:100px;padding:22.5px 0;border-bottom:2px solid #e6e5e2;position: relative;}
.myfocus-slide{clear:both;width:100%;height:100%;transition:all .5s;}
.myfocus-slide-left{transform:translateX(-100px);transition:all .5s;}
.myfocus-slide>div{float:left;}
.myfocus-slide>div a{display:block}
.myfocus-slide,.del_focus{float:left}
.myfocus-slide .focus_carouse{margin-right:15px;}
.myfocus-slide .focus_carouse,.myfocus-slide .focus_carouse img{width:100px;height:100px;border-radius: 50%;}
.myfocus-slide a .focus_nickname{color:#2E88CE;font-size:28px;}
.myfocus-slide a .focus_notice{color:#55637C;font-size:24px;font-family:"PingFang SC Light"}
.focus_content{margin-top:16px;white-space: nowrap;overflow: hidden;text-overflow:ellipsis;}
.del_focus{width:0px;height:145px;top:0;background:#e13030;transition:all .5s;position: absolute;right:0px;opacity:0;}
.del_focus img{margin:40px 23px;}
.del_focus_visible{width:100px;right:45px;opacity:1;transition:all .5s;}





